*{
    margin: 0;
    padding: 0;
}
/* navigation start */
.navi{
    background-image: url(background.jpg);
    background-attachment: scroll;
    background-size: cover;
    height: 870px;
 
}
.navi-img{
    width: 110px;
    height: 110px;
    margin-left: 160px;
    margin-top: 50px;
    mix-blend-mode: multiply;
}

.list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-content: baseline;
    gap: 38px;
    margin-top: -5%;
    margin-left: 30%;
    font-size: larger;
}

.list a{
    text-decoration: none;
    color: rgb(156, 97, 49);
}

.list a:hover{
    color: #ec984a;
}

.txt{
   margin-left: 200px;
   margin-top: 370px;
   color: rgb(243, 223, 110);
}
.nav-btn{
    margin-left: 190px;
    margin-top: 30px;
}
.button{
    background-color: #358055;
    border-radius: 9px;
    height: 48px;
    width: 200px;
    margin-left: 20px;
}

.button:hover{
    background-color: #1ec667;
}


.btn1{
    background-color: #bb8352;
    border-radius: 9px;
    height: 48px;
    width: 200px;
    margin-left: 20px;
}

.btn1:hover{
    background-color: #de8531;
}
/* navigation end */